[Desktop Entry]
Name=Cardpeek
Comment=Tool to read the contents of smart cards
Exec=cardpeek
Icon=cardpeek
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
